---
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import Elementor from "./icons/Elementor.astro"
import LinkButton from "./LinkButton.astro"
import Figma from "./icons/Figma.astro"
import Javascript from "./icons/Javascript.astro"

const TAGS = {
  Javascript: {
    name: "Javascript",
    class: "bg-white text-black",
    icon: Javascript,
  },
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  ELEMENTORPRO: {
    name: "Elementor PRO",
    class: "bg-[#010051] text-white",
    icon: Elementor,
  },
  FIGMA: {
    name: "Figma",
    class: "bg-black text-white",
    icon: Figma,
  },
}
const JOBS = [
  {
    title: "WESTUL - E-Commerce de herramientas",
    description:
      "Como desarrollador, mi función principal fue crear en WordPress desde un maquetado, un sitio de herramientas Chinas que planea abordar próximamente el mercado Argentino.",
    link: "https://westul.net/",
    image: "/projects/jobs/westul.png",
    tags: [TAGS.ELEMENTORPRO, TAGS.FIGMA],
  },
  {
    title: "ProClub - Pagina web de Gimmasio",
    description:
      "App web + Landing de información para clientes o posibles clientes, cuenta con una calculadora de calorías, una galería de ejercicios y un sistema completo de reservas para clases",
    link: "https://proclub-app.com.ar/",
    image: "/projects/jobs/proclubsl.png",
    tags: [TAGS.ELEMENTORPRO, TAGS.FIGMA],
  },
  {
    title: "Guillermo Miranda Inmobiliaria",
    description:
      "Página catálogo para muestra de Alquileres / Ventas de inmuebles.",
    link: "https://guillermomirandainmobiliaria.com/",
    image: "/projects/jobs/inmo.png",
    tags: [TAGS.ELEMENTORPRO, TAGS.FIGMA],
  },
  {
    title: "FMRadioLafinur - Pagina web de noticias y programa radial en vivo",
    description:
      "Sitio web de Streaming de radio en vivo para una de las radios mas escuchadas de San Luis, incluye un CMS para noticias destacadas",
    link: "https://fmradiolafinur.com/",
    image: "/projects/jobs/fmradiolafinur.png",
    tags: [TAGS.ELEMENTORPRO, TAGS.FIGMA],
  },
  {
    title: "PNL ARGENTINA - Sitio de cursos de Programacion Neurolinguistica",
    description:
      "Sitio de landing y e-commerce de cursos de PNL, conectando a estudiantes de programación neurolingüística en toda Argentina con cursos transformadores. Cuenta con soporte para funcionar como una plataforma online",
    link: "https://pnlargentina.com.ar/",
    image: "/projects/jobs/pnlargentina.png",
    tags: [TAGS.ELEMENTORPRO],
  },
  {
    title: "ClasificadosED - E-commerce de inmuebles y automotores en San Luis",
    description:
      "Sitio web e-commerce de propiedades y automobiles, conectando a las inmobiliarias y empresas automotrices de una forma mas rapida con el comprador",
    link: "https://web.archive.org/web/20220909022226/https://clasificadosed.com/",
    image: "/projects/jobs/clasificados.png",
    tags: [TAGS.ELEMENTORPRO, TAGS.FIGMA],
  },
  {
    title: "La Grafica SL",
    description:
      "Landing Page para importante empresa de la industria grafica de la provincia",
    link: "www.lagraficasl.com",
    image: "/projects/jobs/lagraficasl.png",
    tags: [TAGS.Javascript],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    JOBS.map(({ image, title, description, tags, link }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {link && (
            <LinkButton href={link}>
              <Link class="size-4 _blank" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



